<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Tiny_Pedidos>
            <version>0.0.6</version>
        </Tiny_Pedidos>
        <Tiny_Pedidos_Pagos>
            <version>0.0.6</version>
        </Tiny_Pedidos_Pagos>
    </modules>
    <global>
        <models>
            <Tiny_Pedidos>
                <class>Tiny_Pedidos_Model</class>
            </Tiny_Pedidos>
        </models>
        <models>
            <Tiny_Pedidos_Pagos>
                <class>Tiny_Pedidos_Model</class>
            </Tiny_Pedidos_Pagos>
        </models>
        <events>
            <sales_model_service_quote_submit_success>
                <observers>
                    <Tiny_Pedidos>
                        <class>Tiny_Pedidos/observer</class>
                        <method>inserePedido</method>
                        <type>singleton</type>
                    </Tiny_Pedidos>
                </observers>
            </sales_model_service_quote_submit_success>
            <sales_order_payment_pay>
                <observers>
                    <Tiny_Pedidos_Pagos>
                        <class>Tiny_Pedidos/observer</class>
                        <method>inserePedidoPeloPagamento</method>
                        <type>singleton</type>
                    </Tiny_Pedidos_Pagos>
                </observers>
            </sales_order_payment_pay>
        </events>
    </global>
</config>
